.shop {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5vh;
  margin-left: 5vw;
  margin-right: 5vw;
}

.shop a {
  position: fixed;
  top: 110px;
  align-self: flex-end;
  display: flex;
  text-decoration: none;
  background-color: white;
  padding: 5px;
  border-radius: 15px;
  box-shadow: #00000047 0px 2px 11px;
  transition: box-shadow 0.4s;
}

.shop a:hover {
  box-shadow: #00000047 0px 2px 11px 2px;
}

.shop a p {
  position: relative;
  top: -28px;
  right: 52px;
  background-color: black;
  color: white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
}

.shop a:visited {
  color: inherit;
}

.shop a svg {
  position: relative;
  left: 13px;
  width: 40px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.products img {
  width: 100%;
  /* height: 15vh; */
  max-height: 12vh;
  object-fit: scale-down;
}

.productCard {
  display: flex;
  flex: 1 1 30vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 60vh;
  box-shadow: #00000047 0px 2px 11px;
  padding: 35px;
}

.content {
  flex-grow: 1;
  min-width: 80%;
  min-height: 50%;
  overflow: auto;
  box-shadow: white -1px -3px 5px 0px;
}

.buy {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}